# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AntDesignBlazorDemo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\dotnet\AntDesignBlazorDemo\.idea\.idea.AntDesignBlazorDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
bin/
obj/
*.dll
